In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [28]:
#Load the trained model,scaler pickle,onehot

model = load_model('model.h5')

#load encoder and scaler
with open("label_encoder_gender.pkl",'rb') as file:
    label_encoder_gender = pickle.load(file)



with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)


with open('onehot_encoder_geo.pkl','rb') as file:
    label_encoder_geo = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [29]:
input_data = {
    
    'CreditScore': 600,
    'Geography': "France",
    'Gender': "Female",
    'Age': 40,
    'Tenure': 3,
    'Balance': 700000,
    'NumOfProducts': 5,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 9000000
}

In [30]:
#One-Hot encode "Geography"

geo_encoded = label_encoder_geo.transform([[input_data["Geography"]]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(["Geography"]))
geo_encoded_df

c:\Users\user\Desktop\yeni layiheler\GA1\projectml\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [31]:
input_data_df = pd.DataFrame([input_data])
input_data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Female,40,3,700000,5,1,1,9000000

In [32]:
#Encode my categorical variables
input_data_df["Gender"] = label_encoder_gender.transform(input_data_df["Gender"])
input_data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,0,40,3,700000,5,1,1,9000000

In [33]:
#concadination one hot encoded 

input_data_df = pd.concat([input_data_df.drop("Geography",axis=1),geo_encoded_df],axis=1)

input_data_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,0,40,3,700000,5,1,1,9000000,1.0,0.0,0.0

In [34]:
#Scaling the input data
input_scaled = scaler.transform(input_data_df)
input_scaled

array([[-5.35985161e-01, -1.09499335e+00,  1.04793593e-01,
        -6.95393486e-01,  9.98922208e+00,  5.98380764e+00,
         6.49202671e-01,  9.74816989e-01,  1.54733867e+02,
         1.00150113e+00, -5.79467227e-01, -5.76388018e-01]])

In [35]:
#predict churn

prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 68ms/step

array([[4.8935353e-35]], dtype=float32)

In [37]:
prediction_probablity = prediction[0][0]
prediction_probablity

4.8935353e-35